body{
    background-color: darkslategray;
}

body > #header{
    display: flex;
    justify-content: center;
    color: aliceblue;
}

body > #container > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    gap: 20px;
}

body > #container > form > label{
    font-size: large;
}

body > #container > form > #how-many-tickets{
    width: 100px;
    background-color: aquamarine;
    border: 1px solid transparent;
    cursor: pointer;
}

body > #container > form > #how-many-tickets:hover{
    background-color: aqua;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body > #container > form > #buttons{
    display: flex;
}

body > #container > form > #buttons > #send, #reset{
    font-size: medium;
    background-color: aquamarine;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}

body > #container > form > #buttons > #send:hover, #reset:hover{
    background-color: aqua;
    opacity: 90%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body > #container > #numbers-display > h2{
    text-align: center;
    color: aliceblue;
}